// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root{
    --primary: #13C1AC;
    --secundary:#ffffffec;
    /*Grises*/
    --terciary:#8c8b8b5b;
    --gris-hover-oscuro:#1a1919;
    --gris-textos-claros:#565555;

}
