// Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');

@import '~bootstrap/dist/css/bootstrap';
@import '../../node_modules/flag-icon-css/css/flag-icons.css';

// Variables
@import 'variables';
// GlobalStyles
@import 'GlobalStyles';
//Componentes
@import 'Nav';
@import 'Footer';
@import 'Ad-create';
@import 'login';
@import 'welcome';
@import 'show';




.VERY_UNLIKELY{
    color: greenyellow
}
.UNLIKELY {
    color: green
}
.POSSIBLE {
    color: orange;
}
.LIKELY {
    color: orangered;
}
.VERY_LIKELY{
    color: red;
}
.UNKNOWN {
    color: grey;
}
