
*{
    font-family:  'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
::selection{
    background-color: var(--primary);
    color: var(--secundary);
    }

.checkbox:checked{
    background-color: var(--primary);
    color:var(--primary);
}
.checkbox:focus{
    box-shadow: 0px 0px 15px -4px #7FBFB3;
    outline: none;
    border: 1px solid #7FBFB3 ;

}
.checkboxtext{
    background-color: var(--primary);

}
.checkboxtext:focus{
    box-shadow: 0px 0px 15px -4px #7FBFB3;
    outline: none;
    border: 1px solid #7FBFB3 ;
}

/*Botones*/



.gradiant-text {
    background-image: linear-gradient(to bottom, #8dc113, #16c113, #13c173, #13C1AC,#1387c1);
    -webkit-background-clip: text;
    /* Para navegadores basados en Webkit (como Chrome y Safari) */
    background-clip: text;
    color: transparent;
    /* Hace que el texto sea transparente */

}


/*_---------------------------------------*/


.btn-grad{
    border: 2px solid var(--primary);
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #8dc113, #16c113, #13c173, #13C1AC,#1387c1);
    -webkit-background-clip: text;
    /* Para navegadores basados en Webkit (como Chrome y Safari) */
    background-clip: text;
    color: transparent;
    padding: 6px 15px 6px 15px;
    border-radius: 0.4rem;
    margin:0.3rem;
    transition: all 0.3s ease;
}

.btn-grad:hover{
    background: #13C1AC;
    background-image: -webkit-linear-gradient(top, #13C1AC, #13c173);
    background-image: -moz-linear-gradient(top, #13C1AC, #13c173);
    background-image: -ms-linear-gradient(top, #13C1AC, #13c173);
    background-image: -o-linear-gradient(top, #13C1AC, #13c173);
    background-image: linear-gradient(to bottom, #13C1AC, #13c173);
    color: #ffffff;
}

.btn-azul{
    border: 2px solid rgb(76, 76, 230);;
    background-color: rgb(76, 76, 230);
    color: white;
    padding: 6px 15px 6px 15px;
    border-radius: 0.4rem;
    margin:0.3rem;
    transition: all 0.3s ease;
}

.btn-azul:hover{
    background:white;
    color: rgb(76, 76, 230);
}

.btn-verde{
    border: 2px solid var(--primary);
    background-color:  var(--primary);
    color: white;
    padding: 6px 15px 6px 15px;
    border-radius: 0.4rem;
    margin:0.3rem;
    transition: all 0.3s ease;
}

.btn-verde:hover{
    background:white;
    color: var(--primary);
}


.abadge{
    color: var(--primary);
    background-color: white;
   padding: 4px 8px;
   text-align: center;
   border-radius: 60px;
   font-size: small;
   border: 2px solid var(--primary);
 }
.abadge:hover{
    color: white;
    background: #13C1AC;
    background-image: -webkit-linear-gradient(top, #13C1AC, #13c173);
    background-image: -moz-linear-gradient(top, #13C1AC, #13c173);
    background-image: -ms-linear-gradient(top, #13C1AC, #13c173);
    background-image: -o-linear-gradient(top, #13C1AC, #13c173);
    background-image: linear-gradient(to bottom, #13C1AC, #13c173);
   padding: 4px 8px;
   text-align: center;
   border-radius: 60px;
   border: 2px solid #13C1AC;

 }

 .special-text{
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
    letter-spacing: -4.5px
 }


 