nav{
    border-bottom: 0.01rem solid var(--terciary);
    background-color: var(--secundary);
}

.logo-texto{
    height: 2.5rem;
    padding-right: 2px;
}
.search-box:focus{
    box-shadow: 0px 0px 15px -4px #7FBFB3;
    outline: none;
    border: 1px solid #7FBFB3 ;
}


.nav1{
    height: 5rem;
    display: flex;
    width:98vw
}
.nav-language{
    padding-top: 1rem;
    width:33%;
    display:flex;
    justify-content:flex-start;
    gap:2rem;
    list-style: none;
}
.nav-logo{

    width:33%;
    display: flex;
    align-items: center;
    justify-content: center
}


.nav-form{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center
}
.nav-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;

}
