.show-container{

    width: 100vw;
    display: flex;
    .picture-container{
    width: 50%;
    img{
        width: 80%;
        height: 80%;
    }
    }
    .show-description{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        padding:1rem;

        .badge{
           background-image: linear-gradient(to bottom, #8dc113, #16c113, #13C1AC,#1387c1);
          padding: 4px 8px;
          text-align: center;
          border-radius: 60px;
        }


    }
}
